@import url('https://fonts.googleapis.com/css?family=Lato:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:wght@300;400;500;600;700&display=swap');

:root{
    --macBeige: #F7EFE5;
    --macPurple: #674188;
    --macWhite: #FFFBf5;
    --macLavender: #C3ACD0;
}
body {
    background-color: var(--macBeige);
}
h1 {
    background-color: var(--macLavender);
    color: black;
    font-size: larger;
}
h2 {
    text-align: center;
    font-size: x-large;
    color: var(--macWhite);
    background-color: var(--macPurple);
    padding: 30px;
}
h3 {
    font-size: x-large;
}
.macBackground {
    width: 500pc;
}

/* Navigation Header*/
#nav{
    font-family: "Montserrat", serif;
    float: left;
    width: 100%;
    height: 43px;
    padding-top: 30px;
    padding-bottom: 50px;
    background-color: var(--macLavender);
    color: black;
    font-size: larger;

    margin-bottom: 20px;
    position: absolute;
    top: 0;
}
.links{
    list-style-type: none;
    margin: 0;
    padding: 0;

}
.links li {
    display: inline;
    float: left;
    padding: 20px 0;
}

.links li a{
    padding: 20px 20px;
    height: 35px;
    color: black;
    text-decoration: none;
    text-align: center;
    font-weight: bolder;
}
.logo{
    padding-top: 0 !important;
}
.page a:hover{
    background: var(--macPurple);
    color: white !important;
}
.active{
    color: var(--macWhite) !important;
    background-color: var(--macPurple);
}
/* End Navigation Header*/



/* Login Form 5.6 Zybooks */
form {
    border: 3px solid var(--macPurple);
    border-radius: 20px;
    margin: 0 35%;
    padding: 30px 0;
    background-color: var(--macLavender);
}
form p{
    text-align: center;
    font-family: "Montserrat", Serif;
    font-size: 30px;
}
.text{
    font-size: 15px !important;
}

form label{
    font-family: "Montserrat", Serif;
}
input[type=text], input[type=password]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid var(--macPurple);
    box-sizing: border-box;
}
form .remember{
    margin-left: 37%;
}
button{
    background-color: var(--macPurple);
    font-family: "Montserrat", Serif;
    font-size: large;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
button:hover {
    opacity: 0.8;
}
.container {
    padding: 16px;
}
.create{
    text-align: center;
    padding-bottom: 10px;
}
.create a{
    padding: 5px 5px;
    background-color: var(--macPurple);
    color: var(--macWhite);
    font-family: "Montserrat", Serif;
    text-decoration: none;
    border-radius: 10px;

}
.create a:hover{
    opacity: 0.8;
}
span.psw {
    float: right;
    padding-top: 16px;
}
/* Login Form End */

.rough{
    text-align: center;
    font-family: "Montserrat", Serif;
    font-size: 50px;
}


/* Footer */
.footer {
    background-color: var(--macPurple);
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-family: "Montserrat", Serif;
}
.footer li a {
    color: var(--macWhite) !important;

    padding: 10px 10px;
    text-decoration: none;
    text-align: center;
    font-weight: bolder;
}
.footer li {
    display: inline;
    float: left;
}
/* Footer End */


#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 300px;
    padding-top: 170px;
}

