@import url('https://fonts.googleapis.com/css?family=Lato:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:wght@300;400;500;600;700&display=swap');


:root{
    --macBeige: #F7EFE5;
    --macPurple: #674188;
    --macWhite: #FFFBf5;
    --macLavender: #C3ACD0;
}
body {
    background-color: var(--macBeige);
}
h1 {
    padding: 27px;
    background-color: var(--macLavender);
    color: black;
    font-size: larger;
}
h2 {
    text-align: center;
    font-size: x-large;
    color: var(--macWhite);
    background-color: var(--macPurple);
    padding: 30px;
}
h3 {
    text-align: center;
    font-size: xx-large;
    padding: 30px 30px 0 0;
    font-family: "Montserrat", serif;

}
.macBackground {
    width: 500pc;
}

/* Navigation Header */
#nav{
    font-family: "Montserrat", Serif;
    float: left;
    width: 100%;
    height: 43px;
    padding-top: 30px;
    padding-bottom: 50px;
    background-color: var(--macLavender);
    color: black;
    font-size: larger;

    margin-bottom: 20px;
    position: absolute;
    top: 0;
}
.links{
    list-style-type: none;
    margin: 0;
    padding: 0;

}
.links li {
    display: inline;
    float: left;
    padding: 20px 0;
}

.links li a{
    padding: 20px 20px;
    height: 35px;
    color: black;
    text-decoration: none;
    text-align: center;
    font-weight: bolder;
}
.logo{
    padding-top: 0 !important;
}
.page a:hover{
    background: var(--macPurple);
    color: white !important;
}
.active{
    color: var(--macWhite) !important;
    background-color: var(--macPurple);
}
/* Navigation Header End */



/* Footer */
.footer {
    background-color: var(--macPurple);
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-family: "Montserrat", Serif;
}
.footer li a {
    color: var(--macWhite) !important;

    padding: 10px 10px;
    text-decoration: none;
    text-align: center;
    font-weight: bolder;
}
.footer li {
    display: inline;
    float: left;
}
/* Footer End */

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 15.5rem;
    padding-top: 120px;
}


/* Banner */

.eventBanner{
    padding: 0 0 30px 0;
}
.banner {
    background-image: url("../images/macawBW.jpeg");
    background-position: center right;
    padding: 20px 150px 200px 150px;
    margin: 10px 0;
    color: var(--macWhite);
    display: flex;
    flex-direction: row;
    height: 300px;
}
.banner img {
    height: 100%;
}
.bannerInfo {
    /*margin-right: 0;
    margin-left: auto;*/
    margin: auto auto -100px;
}


#events {
    font: bold 100px 'Montserrat', Serif;
}
.info {
    width: 1140px;
    margin: auto;
    font: 20px 'Lato', Serif;
}
hr.dotted {
    border-top: 3px dotted black;
    margin: auto;
    width: 1140px;
}
.headerfont {
    font-family: 'Montserrat', serif;
}
.font {
    font-family: 'Lato', serif;
}
.container {
    display: grid;
    grid-template-columns: auto auto auto;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}
.container > div {
    padding: 0;
    text-align: center;
    font-size: larger;

    -webkit-box-shadow: 0 0 5px 2px #ac9c8d;
    -moz-box-shadow: 0 0 5px 2px #ac9c8d;
    box-shadow: 0 0 5px 2px #ac9c8d;
}

