@import url('https://fonts.googleapis.com/css?family=Lato:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:wght@300;400;500;600;700&display=swap');


:root{
    --macBeige: #F7EFE5;
    --macPurple: #674188;
    --macWhite: #FFFBf5;
    --macLavender: #C3ACD0;
}
body {
    background-color: var(--macBeige);
}
h1 {
    padding: 27px;
    background-color: var(--macLavender);
    color: black;
    font-size: larger;
}
h3 {
    font-size: x-large;
}
.macBackground {
    width: 500pc;
}

/* Navigation Header*/
#nav{
    font-family: "Montserrat", Serif;
    float: left;
    width: 100%;
    height: 43px;
    padding-top: 30px;
    padding-bottom: 50px;
    background-color: var(--macLavender);
    color: black;
    font-size: larger;

    margin-bottom: 20px;
    position: absolute;
    top: 0;
}
.links{
    list-style-type: none;
    margin: 0;
    padding: 0;

}
.links li {
    display: inline;
    float: left;
    padding: 20px 0;
}

.links li a{
    padding: 20px 20px;
    height: 35px;
    color: black;
    text-decoration: none;
    text-align: center;
    font-weight: bolder;
}
.logo{
    padding-top: 0 !important;
}
.page a:hover{
    background: var(--macPurple);
    color: white !important;
}
.active{
    color: var(--macWhite) !important;
    background-color: var(--macPurple);
}


.joinBanner {

    background: black;
    padding: 2px 15px 20px 15px;
    margin: 10px 0;
    color: var(--macWhite);
}
.banner{

    display: flex;
    flex-direction: row;
}
.banner img {
    height: 100%;
}
.bannerInfo {
    margin-left: 15px;
}


.members {
    float: left;
    clear: both;
}

#MMMACteam p {
    float: left;

}

#MMMACteam {
    display: inline-block;
}




.footer {
    background-color: var(--macPurple);
    padding: 60px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;

}
.footer li a {
    margin-bottom: auto;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 15.5rem;
    padding-top: 120px;
}


